/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #48788D;
}

.color-2 {
    background: #9BC5DA;
}


.color-3 {
    background: #CDE7F5;
}

.color-4 {
    background: #B6C056;
}

.color-5 {
    background: #6F7040;
}


/* Textures or Patterns*/

.pattern-1 {
    background-image: url("http://127.0.0.1:51270/img/clouds3.jpg");
}

.pattern-2 {
    background-image: url("http://127.0.0.1:51270/img/carpet.png");
}

.pattern-3 {
    background-image: url("http://127.0.0.1:51270/img/whitebrick.png");
}

.pattern-4 {
    background-image: url("http://127.0.0.1:51270/img/wood.png");
}

.pattern-5 {
    background-image: url("http://127.0.0.1:51270/img/leaves.jpg");
}


.color-1, .color-2, .color-3, .color-4, .color-5, .pattern-1, .pattern-2, .pattern-3, .pattern-4, .pattern-5 {
    border: none;
    border-radius: 25%;
    box-shadow: 0px 0px 10px grey;
}

/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */