/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
div .color-1 {
   background: 48788D;
}

.color-2 {
    color: 9BC5DA;
}


.color-3 {
    color: CDE7F5;
}

.color-4 {
    color: B6C056;
}

.color-5 {
    color: 6F7040;
}

/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */