/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #48788D;
    border: none;
}

.color-2 {
    background: #9BC5DA;
    border: none;
}


.color-3 {
    background: #CDE7F5;
    border: none;
}

.color-4 {
    background: #B6C056;
    border: none;
}

.color-5 {
    background: #6F7040;
    border: none;
}

/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */